.alert {
    flex: 1;
    /* Elemen .nama akan meratakan lebar */
    height: 80px;
    background-color: #fff;
    border: 2px solid #92909044;
    color: #000;
    /* Border berwarna hitam */
    font-size: 1.8pc;
    border-radius: 50px;
    padding: 15px;
    transition: 0.5s all, border 0.2s;
    /* Efek hover */
}


.alert:hover {
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.3);
    /* Efek shadow saat hover */
    transform: scale(1.05);
    background-color: #FFA500;
    color: #FFFFFF;
    /* Membesarkan elemen saat hover */
    border: 2px solid #ffffff;
}

.content2 {
    border-radius: 50px;
    background-color: #ffffff;
    /* Atur warna latar belakang sesuai kebutuhan */
    padding: 50px;
    width: 107%;
    /* height: 100pc; */
    margin-left: -3%;
    margin-top: 50px;
    /* Atur padding sesuai kebutuhan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Atur bayangan (optional) */
}