/* CSS untuk menghilangkan panah pada input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.btn-close {
    border: 2px solid #000000fd;
    border-radius: 50px;
    color: #000;
    background-color: #FFFFFF;
    transition: .5s all;
    position: relative;
    left: 50px;
    bottom: 20px;
    padding: 15px;
    opacity: 1;
    filter: drop-shadow(-2.5px 4.5px 3.6px rgba(0, 0, 0, 0.658));
}

.btn-close:hover {
    color: #FFFFFF;
    background-color: #fa2904;
    border: 2px solid #000;
    opacity: 1;
}

.card {
    border-radius: 100px;
}

body {
    background-image: url('images/Background/bg7.jpg');
    /* Ganti 'bg1.avif' dengan URL gambar Anda */
    background-size: cover;
    /* Mengatur gambar latar belakang untuk menutupi seluruh area body */
    background-repeat: no-repeat;
    /* Mencegah gambar latar belakang diulang */
    background-attachment: fixed;
    /* Membuat gambar latar belakang tetap di tempat saat menggulir halaman */
    /* Opsi lainnya yang dapat Anda pertimbangkan */
    background-position: center center;
    background-color: #ffffff;
}

.t1 {
    position: relative;
    bottom: 10px;
}

button {
    border-radius: 20px;
}

.btn2 {
    border-radius: 20px;
    padding: 10px;
    filter: drop-shadow(-2.5px 4.5px 3.6px rgba(0, 0, 0, 0.658));
    transition: .3s;
}

.btn2:hover {
    filter: drop-shadow(-5px 9px 3.6px rgba(0, 0, 0, 0.658));
    transform: matrix(1.1, 0, 0, 1.1, 0, -7);
    -ms-transform: matrix(1.1, 0, 0, 1.1, 0, -7);
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, -7);
    -o-transform: matrix(1.1, 0, 0, 1.1, 0, -7);
    -moz-transform: matrix(1.1, 0, 0, 1.1, 0, -7);
    /* filter: drop-shadow(-5px 9px 1.6px var(--shadow1)); */
}

@media screen and (max-width: 583px) {
    .btn-close {
        position: relative;
        left: 0px;
        bottom: 0px;
        width: 15px;
        height: 15px;
        padding: 10px;
    }

    .card {
        border-radius: 20px;
    }

    .btn2 {
        padding: 7px;
    }
}